.advantages {
  padding-bottom: 94px;
}
.advantages .title {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-list {
  display: flex;
}
.advantages-list .item::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  padding: 25px 102px;
  background-position: center;
  background-repeat: no-repeat;
}
.advantages-list .item:nth-child(1)::before {
  background-image: url('../images/AdvantDetails.svg');
}
.advantages-list .item:nth-child(2)::before {
  background-image: url('../images/AdvantPunctual.svg');
}
.advantages-list .item:nth-child(3)::before {
  background-image: url('../images/AdvantPlanning.svg');
}
.advantages-list .item:nth-child(4)::before {
  background-image: url('../images/AdvantModerntech.svg');
}
.advantages-list .item:not(:last-child) {
  margin-right: 30px;
}
.advantages .text {
  max-width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
