.social-network {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}
.social-network .item:not(:last-child) {
  margin-right: 10px;
}
.social-network .item {
  display: block;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  align-content: center;
  justify-content: center;
}
.social-link {
  display: flex;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
}
.social-icon {
  display: block;
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social-link:hover,
.social-link:focus {
  outline: none;
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  outline: none;
  fill: #ffffff;
}
